<a href="https://colab.research.google.com/github/shoumyasingh/Artificial_Intelligence_python/blob/main/AI_hw1_q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a training set of patient records of Systolic Blood Pressure (SBP) regarding two features, such as age and weight, please build up linear regression hypothesis function/loss function /cost function, and then write python program to implement this algorithm by gradient descent method. After hypothesis function training through training set, predict new patientâ€™s SBP.

In [1]:
#Patient's id
id = [i for i in range(1,17)]
id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [2]:
#Patient's Age
Age = [60, 61, 74, 57, 63, 68, 66, 77, 63, 54, 63, 76, 60, 61, 65, 79]
len(Age)

16

In [3]:
#Patient's Weights
Weights = [58, 90, 96, 72, 62, 79, 69, 96, 96, 54, 67, 99, 74, 73, 85, 80]
len(Weights)

16

In [4]:
#Systolic Blood Pressure
SBP = [117, 120, 145, 129, 132, 130, 110, 163, 136, 115, 118, 132, 111, 112, 0, 0]
len(SBP)

16

In [5]:
#importing LinearRegression model
from sklearn.linear_model import LinearRegression

In [6]:
#importing pandas module
import pandas as pd

data = {"Patient's id":id, "Age(Years)":Age, "Weight(Kg)":Weights, "SBP(mm Hg)":SBP}

#creating data frame
data = pd.DataFrame(data = data)
data

    Patient's id  Age(Years)  Weight(Kg)  SBP(mm Hg)
0              1          60          58         117
1              2          61          90         120
2              3          74          96         145
3              4          57          72         129
4              5          63          62         132
5              6          68          79         130
6              7          66          69         110
7              8          77          96         163
8              9          63          96         136
9             10          54          54         115
10            11          63          67         118
11            12          76          99         132
12            13          60          74         111
13            14          61          73         112
14            15          65          85           0
15            16          79          80           0

In [7]:
#Taking x and y values
x = data[["Age(Years)", "Weight(Kg)"]]
y = data["SBP(mm Hg)"]

In [8]:
#Taking train and test data
x_train = x[:14]
x_test = x[14:]

y_train = y[:14]
y_test = y[14:]

In [12]:
#Applying LinearRegression model
model = LinearRegression()

#train the model
model.fit(x_train, y_train)

LinearRegression()

In [13]:
#predicting remaining values for SBP(Systolic Blood Pressure )
pred = model.predict(x_test)

In [11]:
#printing predicted values for SBP(Systolic Blood Pressure )
print(pred)

[129.01956696 142.76293569]